<!doctype html>
<html lang="pt-br" ng-app="postit">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Starline">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap2/css/bootstrap-responsive.min.css">


</head>

<body>
    {% block nav %}
     {% endblock %}
	<div class="container">
		<header class="page-header espaco-topo" >
		{% block header %}<h1>Starline Mural</h1>{% endblock header %}
		</header>
		<div class="content">
			
			{% block content %}
		        <div style="float:left; margin-left: 5px;">
		        {% block content-top %}
		         
				{% endblock %}
		        </div>
		         <div style="margin-left: 20px; float:left; width:450px;">
		         	{% block content-left %}
			        {% endblock %}
	    	     </div>
	    	     <div class="row span12" style="margin-left: 5px; margin-top: 15px; margin-bottom: -15px">
	    	     {% block content-bottom %}
	    	     {% endblock %}
	    	     </div>
			{% endblock %}

		</div>
		<footer class="row" style="text-align:center">
			<div class="span12" style="margin-top: -5px">
				<hr/>
				<p style="margin-top: -15px"><small>Starline 2014</small></p>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}angular/angular.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}angular/angular-resource.min.js"></script>
	{% block page-scripts %}
    {% endblock %}

</body>
</html>