{% extends "base.html" %}

{% block content-bottom %}
<form method="post">
 <table>
  {% csrf_token %} <!-- -->
  {{ form }}
  <tr>
   <th>&nbsp;</th>
   <td><input type="submit" value="Entrar"/></td>
  </tr>
 </table>
</form>
{% endblock %}