{% extends "base.html" %}

{% block page-scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}postit/postit.js"></script>
{% endblock %}

{% block content-left %}

{% verbatim %}
<div ng-controller="ListPostsCtrl">
  <p ng-repeat="pst in all_posts" class="well">
    <strong>{{ pst.titulo}}</strong></br>
     {{ pst.corpo}}
     </p>
  </p>
</div>
{% endverbatim %}

{% endblock %}

{% block content-top %}
<form method="post" action={% url 'postit' %}>
 <table ng-controller="PostagemCtrl">
  {% csrf_token %} <!-- -->
  <tr>
    <th><label for="id_titulo">Titulo:</label></th>
    <td><input id="id_titulo" maxlength="40" name="titulo" type="text" /></td>
  </tr>
  <tr>
    <th><label for="id_corpo">Corpo:</label></th>
    <td><textarea cols="40" id="id_corpo" name="corpo" rows="10" ng-model="texto"></textarea></td>
  </tr>
  <tr>
    {% verbatim %}
    <td colspan='2'> Caracteres: {{ caracteres }}</td>
    {% endverbatim %}
  <tr>
  <tr>
   <th>&nbsp;</th>
   <td><input type="submit" value="Entrar"/></td>
  </tr>

 </table>
</form>
{% endblock %}